.actived{
	border: 2px red solid;
}
hr{
	margin-top: 0px!important;
	margin-bottom: 0px!important;
}
.q-question{
	font-size: 20px;
}
.q-number{
	width: 90%;
	float: left;
}
.q-result{
	float: left;
}
.q-abcd-btn{
	width: 5.5%;
	margin-right:30px;
}
.q-abcd-content{
	padding-left: 30px;
	font-size: 24px;
}
.q-abcd-answer{
	cursor: pointer;
	padding: 10px 50px;
	transition: 0.5s;
	border-radius: 5px;
}
.q-op-image{
	width: 70%;
}
.q-abcd-answer:hover{
	transition: 0.2s;
	box-shadow: 2px 2px 18px -2px rgba(0,0,0,0.75);
}
.q-3-dot{
	cursor: pointer;
	min-width: 30px;
	padding: 5px;
	border: 2px dashed #858796;
}
.q-question-choose{
    line-height: 60px;
}

.q-1-btn{
	display: inline-block;
	transition: 1s;
}
.q-button-answer{
	font-size: 24px!important;
}

<<<<<<< HEAD
/* timmer */
.timer{
	display:  block;
	padding: 10px;
	border-radius: 5px;
}
.timer-safe{
	border: 1px solid #0069d9;
	color: #0069d9;
}
.timer-danger{
	border: 1px solid #dc3545;
	color: #dc3545;
}
.active-danger {
	border: 1px solid #dc3545;
	color:white;
	background-color:  #dc3545;
=======
/* ------------ nhận diện có tiền tố r--------------*/
.r-btn-character{
	font-weight: bold;

}
.r-btn-character:hover{
	color: #4e73df;
	background-color: #7f7f888f;
}
.dropdown-menu{
	font-size: 24px!important;
}
.btn-outline-primary{
	font-size: 24px!important;
}
.btn-group{
	width: 9.5%;
}
.r-img-character{
	padding: 50px;
}
.r-img-character > h4 {
	color:  black;
}
.r-img-character > img{
	border: 1px solid black;
}
.r-img-character > canvas {
	border: 1px solid black;
}
.r-button{
	display: flex; 
	justify-content: center;
>>>>>>> 0bdc4729b1f7b1d4d9e9387fbe66e1e0140eb7ba
}
