<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Chọn level</title>

  <!-- Custom fonts for this template-->
  <link href="css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/login.css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

</head>

<body class="bg-gradient-primary body--choose">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image" style="height: 760px;"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Please choose level</h1>
              </div>
              <form class="user">
                <!-- mới bắt đầu -->
                <div class="card shadow mb-4">
                  <!-- Card Header - Accordion -->
                  <a href="#beginer" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="beginer">
                    <h6 class="m-0 font-weight-bold text-primary">Beginer</h6>
                  </a>
                  <!-- Card Content - Collapse -->
                  <div class="collapse show" id="beginer" style="">
                    <div class="card-body">
                      You should learn two alphabet: <strong>Hiragana(あ い う え お )</strong> and <strong>Katakana (ア イ ウ エ オ )</strong>
                     
                    </div>
                  </div>
                  <a href="#" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">I am beginer of Japanese</span>
                  </a>
                </div>
                <!-- Muốn học N5 -->
                <div class="card shadow mb-4">
                  <!-- Card Header - Accordion -->
                  <a href="#N5" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="N5">
                    <h6 class="m-0 font-weight-bold text-primary">JLPT N5</h6>
                  </a>
                  <!-- Card Content - Collapse -->
                  <div class="collapse show" id="N5" style="">
                    <div class="card-body">
                      You should study the first 25 lessons of : <strong>Mina(みなの日木語)</strong> 
                     
                    </div>
                  </div>
                  <a href="#" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-flag"></i>
                    </span>
                    <span class="text">I want to learn JLPT N5</span>
                  </a>
                </div>
                <!-- muốn học N4 -->
                <div class="card shadow mb-4">
                  <!-- Card Header - Accordion -->
                  <a href="#N4" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="N4">
                    <h6 class="m-0 font-weight-bold text-primary">JLPT N4</h6>
                  </a>
                  <!-- Card Content - Collapse -->
                  <div class="collapse show" id="N4" style="">
                    <div class="card-body">
                     You should study the last 25 lessons of : <strong>Mina(みなの日木語)</strong> 
                    </div>
                  </div>
                  <a href="#" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="text">I want to learn JLPT N4</span>
                  </a>
                </div>
               
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>