<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>home</title>
		<!-- css -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
		<link rel="stylesheet" type="text/css" href="css/home.css">
		<!-- font -->
		<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;subset=latin-ext" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat&amp;subset=vietnamese" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;subset=vietnamese" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	</head>
	<body>
		<header id="header" class="header">
			<div class="container">
				<div class="row">
					<div class="col-6 header--logo">
						Learning JP
					</div>
					<div class="col-6 header--btn">
						<button type="button" class="btn btn--s"> 
							<a href="signup.html">Sign Up</a>
						</button>
						<button type="button" class="btn btn--l"> 
							<a href="signup.html">Login</a>
						</button>
					</div>
				</div>
			</div>
		</header><!-- /header -->

		<div class="banner">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 banner--title">
						<div class="b--title">
							<h2 class="banner--big__t ">
								Speak a language in 10 minutes a day<span class="small">TM<span>
							</h2>
							<h5 class="banner--samll__t">
                        		Join our global community of 90 million learners
							</h5>
							<div class="banner--btn">
								<button type="button" class="btn ">
									<a href="signup.html">
                            			Start learning now 
                        			</a>
								</button>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="flag">
			<div class="container">
				<div class="row flag--title">
					<h3>
						I want to learn...
					</h3>
				</div>
				<div class="row">
					<ul class="flag--container">
						<li class="flag--item">
							<img src="img/8.png" class="img-fluid" alt="">
							<br> <span>
								Japanese </span>
						</li>
						<li class="flag--item">
							<img src="img/1.png" class="img-fluid" alt="">
							<br> <span>
							French</span>
						</li>
						<li class="flag--item">
							<img src="img/2.png" class="img-fluid" alt="">
							<br> <span>
							English</span>
						</li>
						<li class="flag--item">
							<img src="img/3.png" class="img-fluid" alt="">
							<br> <span>
							Spanish</span>
						</li>
						<li class="flag--item">
							<img src="img/4.png" class="img-fluid" alt="">
							<br> <span>
							German</span>
						</li>
						<li class="flag--item">
							<img src="img/5.png" class="img-fluid" alt="">
							<br> <span>
							Italian</span>
						</li>
						<li class="flag--item">
							<img src="img/6.png" class="img-fluid" alt="">
							<br> <span>
							Portuguese</span>
						</li>
						<li class="flag--item">
							<img src="img/7.png" class="img-fluid" alt="">
							<br> <span>
							Chinese</span>
						</li>
						<li class="flag--item">
							<img src="img/9.png" class="img-fluid" alt="">
							<br> <span>
							Russian</span>
						</li>
						<li class="flag--item">
							<img src="img/10.png" class="img-fluid" alt="">
							<br> <span>
							Viet Nam</span>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<!-- Giới thiệu  -->
		<div class="infor">
			<div class="container">
				<div class="row --b__top">
					How does 4aesn work?
				</div>
				<div class="row infor--b__bot">
					<div class="col-lg-6">
						<div class="infor--item">
							<div class="--item__title __title__top">
								<a href="" class="--infor__link">
									<span>
										<i class="fas fa-angle-right"></i>
									</span>
									Learn the smart way
								</a>
								
							</div>
							<div class="--item__content">
								Over <strong>1000 lessons</strong> created by expert linguists enhanced with <strong>machine learning technology </strong>like personalized study plans and speech recognition.
							</div>
						</div>
						<div class="infor--item">
							<div class="--item__title __title__bot">
								<a href="" class="--infor__link">
									<span>
										<i class="fas fa-angle-right"></i>
									</span>
									Get feedback from native speakers
								</a>
								
							</div>
							<div class="--item__content">
								Connect with over 90 million learners and native speakers. Get  <strong>instant feedback</strong>  on written and spoken lessons from our global community.
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
						  <div class="carousel-inner">
						    <div class="carousel-item active">
						        <img src="img/infor1.png" class="d-block w-1 img-fluid" alt="one">
						    </div>
						    <div class="carousel-item">
						      <img src="img/infor2.png" class="d-block w-1 img-fluid" alt="twp">
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- rating -->
		<div class="rating">
			<div class="container">
				<div class="row --b__top">
					<div>
						Not sure about learning with 4aesn?
					</div>
				</div>
				<div class="row --b__two">
					<div>
						Great
						<img src="img/start.JPG" alt="start">
						<img src="img/start.JPG" alt="start">
						<img src="img/start.JPG" alt="start">
						<img src="img/start.JPG" alt="start">
						<img src="img/start.JPG" alt="start">
						8.9 out of 10
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 rating--cmt clearfix">
						<div class="--cmt__avatar float-left">
							<img src="img/ava1.jpg" class="img-fluid" alt="">
						</div>
						<div class="--cmt__content float-left">
							<Strong>"4aesn has helped me to connect with my whole family. Thank you!"</Strong>
							<br>
							<span>
								Phạm Hoàn - Đại học Bách Khoa Hà Nội
							</span>
						</div>
					</div>
					<div class="col-md-6 rating--cmt clearfix">
						<div class="--cmt__avatar float-left">
							<img src="img/ava2.jpg" class="img-fluid" alt="">
						</div>
						<div class="--cmt__content float-left">
							<Strong>I feel like I'm really learning. And you get corrected by other learners really fast too."</Strong>
							<br>
							<span>
								Nhật Văn - Đại học Bách Khoa Hà Nội
							</span>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<!-- app -->
		<div class="app">
			<div class="container">
				<div class="row">
					<div class="col-md-8 app--content">
						<div class="--content__title">
							<h2>
								<Strong>
									You decide how and when to learn
								</Strong>
							</h2>
						</div>
						<div class="--content__quote">
							<p>
								Start on your desktop. Pick it up later on your phone. Even better, you can download lessons and take them with you.
							</p>
						</div>
						<div class="--content__img">
							<img src="img/ios.JPG" alt="" class="img-fluid">
							<img src="img/android.JPG" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-md-4 app-img">
						<img src="img/app-mock.png" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
		<!-- đối tác -->
		<div class="partner">
			<div class="container">
				<div class="row --b__top">
					<div>
						Thinking about language learning for your business?
					</div>
				</div>
				<div class="row">
					<div class="col parter--img">
						<img src="img/p1.png" alt="" class="img-fluid">
					</div>
					<div class="col parter--img">
						<img src="img/p2.png" alt="" class="img-fluid">
					</div>
					<div class="col parter--img">
						<img src="img/p3.png" alt="" class="img-fluid">
					</div>
					<div class="col parter--img">
						<img src="img/p4.png" alt="" class="img-fluid">
					</div>
					<div class="col parter--img">
						<img src="img/p5.png" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-4">
						<ul>
							<li><strong>Learn languages online</strong></li>
							<li>
								<a href="">Learn English online</a>
							</li>
							<li><a href="">Learn Spanish online</a></li>
							<li><a href="">Learn French online</a></li>
							<li><a href="">Learn German online</a></li>
							<li><a href="">Learn Italian online</a></li>
							<li><a href="">Learn Portuguese online</a></li>
							<li><a href="">Learn Japanese online</a></li>
							<li><a href="">Learn Russian online</a></li>
							<li><a href="">Learn VietNam online</a></li>
						</ul>
					</div>
					<div class="col-4">
						<ul>
							<li><strong>Discover 4aesn</strong></li>
							<li><a href="">4aesn Premium membership</a></li>
							<li><a href="">4aesn mobile apps for iOS and Android</a></li>
							<li><a href="">Partnerships with busuu</a></li>
							<li><a href="">Retail industry</a></li>
							<li><a href="">Hospitality industry</a></li>
						</ul>
					</div>
					<div class="col-4">
						<ul>
							<li><strong>About us</strong></li>
							<li><a href="">4 anh em siêu nhân</a></li>
							<li><a href="">Biện Thành Chung</a></li>
							<li><a href="">Phùng Văn Hưng</a></li>
							<li><a href="">Trần Viết Huy</a></li>
							<li><a href="">Phạm Hoàn</a></li>
							<li><a href="">Nhật Văn</a></li>
							<li><a href="">Khát vọng</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>